<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="Argon" />
      <package pattern="CliWrap" />
      <package pattern="DiffEngine" />
      <package pattern="EmptyFiles" />
      <package pattern="Google.*" />
      <package pattern="Grpc.*" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePack" />
      <package pattern="MessagePackAnalyzer" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Cecil" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="SimpleInfoName" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="System.*" />
      <package pattern="Verify.*" />
      <package pattern="Verify" />
      <package pattern="xunit.*" />
      <package pattern="xunit" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>